<?xml version="1.0" encoding="utf-8"?>
<widget id="com.app.zqwwb" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Slouch App</name>
    <description>

    </description>
	<icon src="www/img/logo1.png" />
    <content src="index.html" />
    <access origin="*" />
    <preference name="windows-target-version" value="8.1" />
</widget>